@import '_reset';
@import '_variables';
@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext');

html,body {
	font-family:'Montserrat';
	scroll-behavior: smooth;
	background: $lightBg;
}

.back-button-box{
	height: 50px;
	position: relative;
}

.back-button{
	height: 30px;
	width: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
	z-index: 1;
	cursor: pointer;
}

.photos-box{
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-template-columns: repeat(4,1fr);
	grid-gap: 10px;
	width: 100%;
	padding: 20px;
	align-items: center;
	@media(max-width: $tablet2){
		grid-template-columns: 1fr 1fr;
		padding: 10px;
	}
	@media(max-width: $phone){
		grid-template-columns: 1fr;
		grid-gap: 5px;
	}
}


.photo-box{
	justify-self: center;
}

.photo-box:nth-child(2),
.photo-box:nth-child(8),
.photo-box:nth-child(11),
.photo-box:nth-child(14){
	grid-column: span 2;
	grid-row: span 2;
	@media(max-width: $tablet2){
		grid-column: span 1;
		grid-row: span 1;
	}
}



// .photo-box:nth-child(22)
.photo-box:nth-child(5),
.photo-box:nth-child(10),
.photo-box:nth-child(17){
	@media(max-width: $tablet2){
		grid-column: span 2;
		grid-row: span 2;
	}
}
.photo{
	width: 100%;
}

.image{
	max-height: 100%;
	max-width: 100%;
	object-fit: scale-down;
}

.fullscreen{
	background: rgba($primary,.7);
	z-index: 9;
	position: fixed;
	top:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: none;
	img{
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.btn{
	background: rgba($primary,.7);
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	z-index: 99;
	border-radius: 3px;
	border-width: 0;
	// display: none;
}
.btn-close{
	@extend .btn;
	top: 30px;
	right: 20px;
}
.btn-left{
	@extend .btn;
	top: 50%;
	left: 20px;
	transform: rotate(180deg);
}
.btn-right{
	@extend .btn;
	top: 50%;
	right: 20px;
}

.description-box{
	position: absolute;
	z-index: 1;
	bottom: 10px;
	right: 10px;
	width: 300px;
	background: rgba($primary,.7);
}

.description{
	display: none;
	color: #fff;
	padding: 10px;
	margin: 0;
	font-size: 1.3em;
}
