@import '_reset';
@import '_variables';
@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext');

html,body {
	font-family:'Montserrat';
	scroll-behavior: smooth;
}

h1 {
	font-size: 3.5rem;
	@media(max-width: $tablet2){
		font-size: 2.3rem;
	}
}

h2 {
	font-size: 2.8rem;
	vertical-align: middle;
	text-transform: uppercase;
	@media(max-width: $tablet2){
		font-size: 2.0rem;
	}
}

h3 {
	font-size: 1.8rem;
	@media(max-width: $tablet2){
		font-size: 1.3rem;
	}
}

p {
	font-size: 1.3rem;
	color: $primary;
	margin: 0;
	@media (max-width: $tablet2){
		font-size: 16px;
	} 
}

a {
	text-decoration: none;
	background-color: transparent;
}

.header{
	z-index: 999;
	top: 0;
	position: fixed;
	width: 100%;
}

nav {
	background: rgba($primary,0.7);
	height: 50px;
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(space-between);
	align-items: center;
	@media(max-width:$tablet){
		background: none;
	}
}
/* - - M E N U - - */

.menu-button {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	background: transparent;
	border: none;
	cursor: pointer;
	overflow: visible;
	display: none;
	transition: .5s ease-in-out;
	z-index: 999;
}
.menu-button_span {
	position: absolute;
	display: block;
	height: 4px;
	width: 100%;
	@include border-radius(3px);
	opacity: 1;
	left: 0;
	background: $secondary;
	transition: .25s ease-in-out;
}
.menu-button_span:nth-child(1){
	top:0px;
}
.menu-button_span:nth-child(2),
.menu-button_span:nth-child(3){
	top:10px;
}
.menu-button_span:nth-child(4){
	top:20px;
}
.menu-button_open .menu-button_span:nth-child(1){
	width: 0%;
}
.menu-button_open .menu-button_span:nth-child(2){
	transform: rotate(45deg);
}
.menu-button_open .menu-button_span:nth-child(3){
	transform: rotate(-45deg);
}
.menu-button_open .menu-button_span:nth-child(4){
	width: 0%;
}

// .nav-scroll {
//   	height: 50px;
// 	transition: all .6s ease 0s;
// }

/* ul */
.menu-list {
	padding: 0;
	margin: 0 20px 0 auto;
	width: 100%;
	text-align: right;
	@media(max-width: $tablet){
		display: block;
    	overflow: hidden;
    	background: rgba(53,50,48,0.9);
    	line-height: 50px;
    	margin-right: -5px;
    	list-style: none;
    	padding-left: 5px;
    	padding-top: 50px;
    	position: fixed;
    	box-sizing: border-box;
    	top: 0;
    	right: 0;
    	width: 0px;
	}	
}

/* li */
.menu-item {
	display: inline-block;
	list-style: none;
	@media(max-width:$tablet){
		display: block;
		text-align: left;
	}
}

/* a */
.menu-link {
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 20px;
	color: #fff;
	cursor: pointer;
	position: relative;
	display: block;
	transition: all .6s ease 0s;
}

.menu-link:hover {
	color: $secondary;
	outline-width: 0;
	transition: all .6s ease 0s;
}

@media (max-width: $tablet) {
	.menu-in {
		width: 170px;
		visibility:visible;
		transition: all .6s ease 0s;
	}
	.menu-button {
		display: block;
	}
}
/* - - E N D  of M E N U - - */

/* - - H O M E  P A G E - - */
.home {
	min-height: $phone;
	width: 100%;
	height: 100vh;
}

.home-column {
	@include display-flex;
    @include flex-direction(column);
    align-items: center;
    height: 100vh;
    width: 50%;
    text-align: center;
    @include justify-content(center);
}

.info{
	float: left;
	background-image: url(../images/bg.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-info{
	background: rgba($primary,0.7);
	width: 100%;
	padding: 5px;
}

.title {
	font-weight: bold;
	color: $secondary;
	text-shadow: -1px 0 #D49731, 0 1px #D49731, 1px 0 #D49731, 0 -1px #D49731;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	cursor: default;
}

.home-title {
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 0;
	text-shadow: none;
}

.home-mail {
	font-size: 1.9rem;
	color: #fff;
}

.home-r {
	color: $secondary;
	font-size: 2rem;
	font-weight: bold;
}

.photo{
	float: right;
	background-image: url(../images/katarzynagwozdz.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.photo-mobile{
	display: none;
}

.home-image {
	vertical-align: middle;
	width: auto;
	max-width: 100%;
	max-height: 100vh;
	margin: 0; 	
}

@media (max-width: 985px){
	.home-mail {
		font-size: 1.5rem;
	}
	.home-r {
		font-size: 1.5rem;
	}
}

@media (max-width: $tablet) {
	.home-column {
		width: 100%;
	}
	.info{
		height: 40vh;
	}
	.home-mail {
		font-size: 1.2rem;
	}
	.home-r {
		font-size: 1.2rem;
	}
	.photo{
		display: none;
	}
	.photo-mobile{
		@include display-flex;
		height: 60vh;
		float: right;
		background-image: url(../images/katarzynagwozdz_mobile.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.home-image-mobile{
		vertical-align: middle;
    	width: auto;
    	max-width: 100%;
    	max-height: 60vh;
    	margin: 0;
    	overflow: hidden;
	}
}

@media(max-width: 360px){
	.home-column{
		height: 50vh;
	}
}
/* - - E N D of H O M E  P A G E- - */

/* - - T E A C H I N G - - */
#teaching{
	background-color: $lightBg;
	width: 100%;
}
.teaching {
	position: relative;
}
.teaching-part-1 {
	position: absolute;
	background-image: url(../images/teaching.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 35%;
	height: 100%;
	text-align: center;
	@media(max-width:$tablet){
		position: static;
		width: 100%;
		height: 80px;
	}
}

.teaching-part-2 {
	width: 65%;
	height: 100%;
	@include justify-content(center);
	padding: 50px 20px 20px 20px;
	align-items: center;
	margin-left: 35%;
	@media(max-width:$tablet){
		width: 100%;
		height: auto;
		padding-top: 10px;
		margin: 0;
	}
}
.teaching-subtitle {
	margin-bottom: 10px;
	text-shadow: none;
}
.classes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 5px;
	text-align: center;
	@media(max-width: $phone){
		grid-template-columns: 1fr 1fr;
	}
}

.class{
	border: 1px solid $secondary;
	padding: 5px;
}


.teaching-plan{
	transition: all .6s ease 0s;
}

.teaching-link {
	color: #353230;
	cursor: pointer;
	transition: all .6s ease 0s;
}

.teaching-link:hover {
	color: #FAB23A;
	outline-width: 0;
	transition: all .6s ease 0s;
}
/* - - E N D of T E A C H I N G - - */
.line{
	width: 100%;
	height: 1px;
	background: $secondary;
}
/* - - A R T I C L E S - - */
#articles{
	width: 100%;
	background: $lightBg;
}
.articles{
	position: relative;
}
.articles-title-box{
	position: absolute;
	height: 100%;
	right: 0;
	width: 30%;
	background: $primary;
	background-image: url(../images/publications.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@media(max-width: $tablet){
		width: 100%;
		height: 80px;
	}
}
.articles-content{
	width: 70%;
	padding: 50px 20px 20px 20px;
	text-align: justify;
	@media(max-width: $tablet){
		width: 100%;
		padding-top: 90px;
	}
}
.articles-content-more{
	width: 100%;
	padding: 0 20px 20px 20px;
	text-align: justify;
	display: none;
}
.year{
	color: $secondary;
	padding: 10px;
	margin: 0;
}
.publication{
	padding: 5px;
}
.bolder{
	font-weight: bolder;
}
.more{
	background: transparent;
	color: $secondary;
	text-align: center;
	cursor: pointer;
	padding: 5px;
	font-weight: bolder;
	width: 150px;
	margin: auto;
	&:hover{
		color: $primary;
	}
}
.less{
	@extend .more;
}
/* - - H O B B Y - - */
.hobby{
	background-color: $primary;
	width: 100%;
	height: 100vh;
	min-height: $phone;
}

.hobby-container {
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100vh;
	min-height: $phone;
}

.title-holder {
	position: absolute;
	@include display-flex;
	align-items: center;
	@include justify-content(center);
	right: 0;
	top: 25%;
	width: 45%;
	height: 45%;
	padding: 20px;
	margin: 0 20px 0 0;
	background-color: rgba(115,115,115,0.5);
	z-index: 1;
	@media(max-width: $phone) and (orientation: portrait){
		height: 30%;
	}
}

.hobby-column {
 	 text-align: center;
}

.hobby-title {
	vertical-align: middle;
	text-align: center;
}

.hobby-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	// display: none;
	position: absolute;
}

/* - - E N D of H O B B Y - - */

/* - - C O N T A C T - - */
.contact {
	background-color: $lightBg;
	width: 100%;
	height: auto;
}

.contact-container {
	align-items: center;
	width: 100%;
	height: 100%;
}

.contact-column-1 {
	background-image: url(../images/adam.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 45%;
	height: 200px;
	display: inline-block;
	float: left;
	text-align:center;
	@media(max-width: $tablet2){
		height: 80px;
		@include display-flex;
		@include justify-content(center);
		width: 100%;
	}
}

.contact-title {
	line-height: 200px;
	@media(max-width: $tablet2){
		line-height: 80px;
	}
}

.contact-column-2 {
	width: 55%;
	height: 100%;
	@include display-flex;
	@include flex-direction(column);
	float: left;
	@include justify-content(center);
	padding: 20px;
	@media(max-width: $tablet2){
		padding: 10px;
		width: 100%;
		height: auto;
	}
}

.contact-content {
	font-size: 1.0rem;
	color: $primary;
	text-align: left;
	text-decoration: none;
	padding: 10px;
	@include display-flex;
	p{
		padding-left: 10px;
	}
	&:hover{
		color: $secondary;
	}
}

.contact-img{
	height: 30px;
	width: auto;
	@media(max-width: $tablet2){
		height: 20px;
	}
}

/* - - E N D of C O N T A C T - - */

/* - - F O O T E R - - */
.footer {
	background-color: #353230;
	width: 100%;
	height: auto;
	min-height: 50px;
	padding: 5px;
	// position: relative;
	overflow: hidden;
	display: inline-block;
	// display: grid;
	// grid-template-columns: auto 130px;
}

.logos{
	// display: grid;
	// grid-auto-rows: 40px;
	// grid-template-columns: repeat(auto-fill, minmax(55px,1fr));
	// grid-gap: 5px;
	// width: 100%;
	// display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.footer-link{
	display: inline-block;
	// display: table-cell;
	padding: 0 5px;
	height: 40px;
	justify-self: center;
}

.footer-logo {
	height: 40px;
}

.footer-p {
	// position: absolute;
	// right: 5px;
	// align-self: end;
	// justify-self: end;
}

.f-image {
	max-height: 40px;
	width: auto;
}

.footer-paragraph {
	font-size: 14px;
	color: #fff;
	text-align: right;
	margin: 0;
	line-height: 40px;
}